@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;

  --color-primary: #ef5777;
  --color-primary-dark: #eb2a53;
}

body {
  overflow-y: scroll;
}

#content {
  @apply leading-relaxed text-gray-800;

  h1 {
    @apply text-2xl font-semibold mt-3 mb-2;
  }

  h2 {
    @apply text-xl font-semibold mt-3 mb-1;
  }

  ul {
    @apply list-disc list-outside my-1 ml-5;

    &.contains-task-list {
      list-style: none;
    }

    ul {
      list-style: circle;
      @apply list-outside ml-10;
    }
  }

  ol {
    @apply list-decimal list-outside my-1 ml-5;
  }

  img {
    @apply mx-auto my-2;
  }

  *:not(pre) > code {
    @apply text-sm bg-pink-50 text-pink-600 px-1.5 py-0.5 rounded;
  }

  p {
    @apply text-justify pt-1 pb-2;
  }

  a {
    @apply text-blue-500;

    &:hover {
      @apply text-blue-700;
    }
  }
}
