@import 'tailwindcss';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
  --font-mono: "Fira code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-primary: #ef5777;
  --color-primary-dark: #eb2a53;
}

body {
  overflow-y: scroll;
}

code {
  font-optical-sizing: auto;
}

#content {
  @apply leading-relaxed text-gray-800;

  h1 {
    @apply text-2xl font-semibold my-3;
  }

  h2 {
    @apply text-xl font-semibold my-3;
  }

  h3 {
    @apply text-lg font-semibold my-3;
  }

  details {
    @apply m-2 my-3;

    &> summary {
      @apply cursor-pointer font-semibold;
    }
  }

  blockquote {
    @apply border-l-4 border-gray-300 pl-4 my-2 bg-gray-100;
  }

  ul {
    @apply list-disc list-outside my-1 ml-5;

    &.contains-task-list {
      list-style: none;
      @apply ml-1;
    }

    ul {
      list-style: circle;
      @apply list-outside ml-10;
    }
  }

  ol {
    @apply list-decimal list-outside my-1 ml-5;
  }

  img {
    @apply mx-auto my-3;
  }

  pre {
    @apply text-sm px-5 py-4 rounded-lg my-2 overflow-x-auto;
  }

  *:not(pre) > code {
    @apply text-sm bg-pink-50 text-pink-600 px-1 py-0.5 rounded;
  }

  p {
    @apply text-justify my-2;
  }

  a {
    @apply text-blue-500;

    &:hover {
      @apply text-blue-700;
    }
  }
}
